{% extends "base.html" %}
% load staticfiles %}
{% block title %}ItBursa_Student_add{% endblock%}
{% block nav_class_students %}active{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'index' %}"><span>/ Main</span></a></li>
<li><a href="{% url 'students:list_view' %}"><span>Students </span></a></li>
{% endblock %}

{% block content %}
<div class="page-header"><h3 class="text-center">Создание нового студента</h3></div>
<div class="row marketing">
	<div class="container">
		<form method="post">
			{% csrf_token %}
	    	{{ form.as_p }}
	        <br>
	        <input type="submit" value="Создать"/>
	    </form>
	</div>
</div>
</br>
{% endblock %}