{% extends "base.html" %}
% load staticfiles %}
{% block title %}ItBursa_Student_edit{% endblock%}
{% block nav_class_students %}active{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{% url 'index' %}">
		<span>/ Main</span>
	</a>
</li>
<li>
	<a href="{% url 'students:list_view' %}">
		<span>Students </span>
	</a>
</li>
{% endblock %}

{% block content %}
<div class="page-header"><h3 class="text-center">Редактирование данных студента</h3></div>
<div class="row marketing">
	<div class="container">
		<form method="post">
			{% csrf_token %}
	    	{{ form.as_p }}
	        <br>
	        <input type="submit" value="Изменить"/>
	    </form>
	</div>
</div>
</br>
{% endblock %}