{% extends "base.html" %}
% load staticfiles %}
{% block title %}ItBursa_Students{% endblock%}
{% block nav_class_students %}active{% endblock %}
{% block breadcrumb %}
<li>
    <a href="{% url 'index' %}">
        <span>/ Main</span>
    </a>
</li>
<li>
    <a href="{% url 'students:list_view' %}">
        <span>Students </span>
    </a>
</li>
{% endblock %}
{% block content %}
{% if messages %}
</br>
<div class="alert alert-success" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}  
</div>
{% endif %}
<button class="btn btn-default" 
        type="button">
    <a href="{% url 'students:add' %}">Добавить студента</a>
</button>
<h2 id = "header_table">Список студентов</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>фамилия имя</th>
            <th class="hidden-xs hidden-sm">адрес</th>
            <th class="hidden-xs">skype</th>
            <th>курсы</th>
            <th></th><th></th>
        </tr>
        {% for st in object_list %}
        <tr>
            <td>{{ st.id }}</td>
            <td>
                <a href="{% url 'students:detail' st.id %}">{{st.surname}} {{ st.name }}</a>
            </td>
            <td class="hidden-xs hidden-sm">{{ st.address }}</td>
            <td class="hidden-xs">{{ st.skype }}</td>
            <td> {% for course in st.courses.all %}
                <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a>                
                {% endfor %}
            </td>
            <td>
                <button class="btn btn-default" type="button">
                    <a href="{% url 'students:edit' st.id %}">Изменить</a>
                </button>
            </td>
            <td>
                <button class="btn btn-default" type="button">
                    <a href="{% url 'students:remove' st.id %}">Удалить</a>                    
                </button>
            </td>
        </tr> 
        {% endfor %}
    </table>   
</div>
{% endblock content %}