<div class="pagination"> 
  {% if page_obj.has_previous %}
    <li>
      <a href="?{% if request.GET.course_id %}course_id={{ request.GET.course_id }}&{% endif %}page={{ page_obj.previous_page_number }}">
        << previous
      </a>
    </li>
  {% endif %}
    <li>
      <a>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    </li>
    {% if page_obj.has_next %}
      <li>
        <a href="?{% if request.GET.course_id %}course_id={{ request.GET.course_id }}&{% endif %}page={{ page_obj.next_page_number }}">
          next >>
        </a>
      </li>
    {% endif %}
</div>