@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 23px;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#header2-7 H1 {
  text-align: center;
  color: #000000;
}
#header2-7 P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
}
#msg-box2-5 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-5 .mbr-article {
  color: #252525;
}
#msg-box2-6 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-6 .mbr-article {
  color: #252525;
}
#features1-7 .mbr-section__col .mbr-header__text {
  font-size: 22px;
}
#form1-11 .mbr-header__text {
  color: #ffffff;
}
