nav.navbar.navbar-default{
  margin-bottom:0px;
}

@media (min-width:992px) {
  .product h2{
    margin-top:0;
  }
}

.navbar .navbar-brand{
  font-size:24px;
  line-height:18px;
}

.reviewer-name{
  margin-right:10px;
} 

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.btn.write-review{
  float:right;
  margin-top:-6px;
}

.navbar-default{
  background-color:#010101;
  border-color:#010101;
}

.btn-lg{
  font-size:30px;
}

.btn-link{
  color:#010101;
  border:2px solid #010101;
}

.btn-link:hover{
  color:#fff;
  background-color:#010101;
  text-decoration:none;
  cursor:pointer;
}

.navbar-default .navbar-nav > li > a{
  color:#fff;
}

.navbar-default .navbar-link{
  color:#fff;
}

.navbar-link,.navbar-brand{
  color:#fff;
}

.navbar-brand:hover{
  background-color:#010101;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  background-color:#000000;
  color:#fff;
}

.navbar-default .navbar-brand:hover .nav-bar-nav:hover a:hover .navbar-nav > li > a:hover{
  color:#fff;
  background-color:#010101;
}

footer > .row > p{
  text-align:left;
}


.site-footer{
  padding:10px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:15px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.site-footer{
  background-color:#010101;
}
.myfoot{
  height: 50px;
  width: 100%;
  background-color: #010101;
  border: 3px solid black;
}
.mycopy{
  text-align: center;
  color: #fff;
  font-size: 15px;
}
.dierow{
  line-height: 25px;
  height: 80px;
  text-align: center;
}
.diebtn{
  font-size:30px;
  color: #010101;
  padding: 20px;
  border: 2px solid #010101;
  border-radius: 15px;
}
.diebtn:hover{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #010101;
}
.morecarabas{
  color: #010101;
  border: 1px solid #010101;
  padding:5px;
  border-radius: 10px;
}
.moremalva{
  color: #010101;
  border: 1px solid #010101;
  padding:5px;
  border-radius: 10px;
}
.moreburatino{
  color: #010101;
  border: 1px solid #010101;
  padding:5px;
  border-radius: 10px;
}
.moreche{
  color: #010101;
  border: 1px solid #010101;
  padding:5px;
  border-radius: 10px;
}
.morecarabas:hover, .moremalva:hover, .moreburatino:hover, .moreche:hover{
  color: #fff;
  background-color: #010101;
  text-decoration: none;
}
.curspre{
  text-align: center;
}
.cursmenu{
  text-align: center;
}
.jumbotron h1, .jumbotron h2{
  font-family: 'Bookman Old Style', serif;
}
.curstext{
  text-align: center;
  font-family: 'Lucida Console', Monaco, monospace;
}
.breadcrumb{
  text-align:center;
  background-color:transparent;
  border-bottom:1px solid #eee;
  padding-top:12px;
  padding-bottom:12px;
  margin-bottom:0;
  margin-top: 60px;
}

nav.navbar.navbar-default{
  margin-bottom:0px;
}

@media (min-width:992px) {
  .product h2{
    margin-top:0;
  }
}

.navbar .navbar-brand{
  font-size:24px;
  line-height:18px;
}

.reviewer-name{
  margin-right:10px;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.btn.write-review{
  float:right;
  margin-top:-6px;
}

thead.headtable{
  color:#fff;
  background-color:#010101;
}

.student-table:hover{
  cursor:pointer;
}

a{
  color:#777777;
}

a:hover, a:visited, a:focus{
  color:#777777;
  text-decoration:none;
  outline:none;
}

td a{
  display:block;
}
