#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__section {
  background: #2c2c2c;
}
#msg-box3-3 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-5 .mbr-navbar__section {
  background: #2c2c2c;
}

.jumbotron {
  background-color: #fff;
  padding: 0px !important;
}

.container {
    max-width: 100%;
}

.btn-success {
  color: #252525;
  background-color: #fff;
  border-color: #252525;
}

.mbr-section__container--std-top-padding {
    padding-top: 30px;
}

img.mbr-figure__img {
    height: 170px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
}
h1 {
  margin-top: 10px;
}