{% extends "base.html" %}
{% load staticfiles %}
{% block title %}ItBursa_Main{% endblock%}
{% block nav_class_index %}active{% endblock %}
{% block breadcrumb %}<li><a href="{% url 'index' %}"><span>/ Main</span></a></li>{% endblock %}
{% block content %}
{% if messages %}
</br>
<div class="alert alert-success" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}  
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1 class="text-center">ItBursa </h1></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="lead text-center">Курсы ItBursa начали работу в 2014 году.
        Мы специализируемся на «модных» языках программирования. Принципиальное наше отличие 
        от других курсов – максимум практики и жесткая система обязательных домашних заданий. 
        Преподаватели – опытные практикующие разработчики, они помогают участникам в ходе курсов 
        создать реальные проекты и получить практические навыки, применимые к работе. 
        Домашние задания на наших курсах обязательны и их невыполнение приводит к исключению с курсов. 
        Таким образом, мы готовим не просто «слушателей» курсов, а настоящих специалистов, 
        способных создавать пусть простые, но рабочие проекты. </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Наши курсы:</h2></div>
    </div>
</div>
<button class="btn btn-default" type="button">
    <a href="{% url 'courses:add' %}">Добавить курс</a>
</button>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Курс</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in courses %}
                    <tr>
                        <td>
                            <a href="{% url 'courses:detail' x.id %}">
                                <strong>{{ x.name|upper }}</strong>
                            </a>
                        </td>
                        <td>{{ x.short_description|title }}</td>
                        <td>
                            <button class="btn btn-default" type="button">
                                <a href="{% url 'courses:edit' x.id %}">Изменить</a>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-default" type="button">
                                <a href="{% url 'courses:remove' x.id %}">Удалить</a>                    
                            </button>
                        </td>
                    </tr>                           
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</br>
</br>
<div class="clearfix"></div>
<div class = "dierow">
    <a class="diebtn" href="http://pybursa.com"><strong>Выучись или уйди!!!</strong></a>            
</div>
{% endblock %}