<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../static/images/logo-it_bursa.png" type="image/x-icon">
  <meta name="description" content="This site is about the courses ItBursa. Created Ruslan Tokar in the study Python Bursa">
  <title>PyBursa_main</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../static/css/jumbotron-narrow.css" type="text/css">  
  <link rel="stylesheet" href="../static/css/mbr-additional.css" type="text/css">  
  <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
	<section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--sticky mbr-navbar--auto-collapse" id="ext_menu-1">
		<div class="mbr-navbar__section mbr-section">
			<div class="mbr-section__container container">
				<div class="mbr-navbar__container">
					<div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
						<span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
							<span class="mbr-brand__logo">
								<a href="http://itbursa.com/">
									<img class="mbr-navbar__brand-img mbr-brand__img" src="../static/images/logo-it_bursa.png" alt="itbursa">
								</a>
							</span>
							<span class="mbr-brand__name">
								<a class="mbr-brand__name text-white" href="http://itbursa.com/">ItBursa</a>
							</span>
						</span>
					</div>
					<div class="mbr-navbar__hamburger mbr-hamburger text-white">
						<span class="mbr-hamburger__line"></span>
					</div>
					<div class="mbr-navbar__column mbr-navbar__menu">
						<nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
							<div class="mbr-navbar__column">
								<ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active">
									<li class="mbr-navbar__item">
										<a class="mbr-buttons__link btn text-white" href="index.html">MAIN</a>
									</li>
									<li class="mbr-navbar__item">
										<a class="mbr-buttons__link btn text-white" href="contact.html">CONTACTS</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-after-navbar" id="msg-box3-3" style="background-color: rgb(255, 255, 255);">
		<div class="jumbotron">
        	<h1>Py&Django Bursa</h1>
        	<h2>Description</h2>
        	<p class="lead">Python — высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода. Синтаксис ядра Python минималистичен. В то же время стандартная библиотека включает большой объём полезных функций.</p>
        	<h2>Program</h2>
        	<p class="lead">Принципиальное наше отличие от других курсов – максимум практики и жесткая система обязательных домашних заданий. Преподаватели – опытные практикующие разработчики, они помогают участникам в ходе курсов создать реальные проекты и получить практические навыки, применимые к работе. Домашние задания на наших курсах обязательны и их невыполнение приводит к исключению с курсов. Таким образом, мы готовим не просто «слушателей» курсов, а настоящих специалистов, способных создавать пусть простые, но рабочие проекты.</p>        	
        	<p><a class="btn btn-lg btn-success" href="http://pybursa.com/" role="button">Выучись или уйди!</a></p>         
      	</div>      		
	</section>

	<footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-4" style="background-color: rgb(68, 68, 68);">
		
		<div class="mbr-section__container container">
			<div class="mbr-footer mbr-footer--wysiwyg row">
				<div class="col-sm-12">
					<p class="mbr-footer__copyright">Copyright (c) 2016 PyBursa.Ruslan_Tokar.</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="./static/js/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>