<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
	<meta name="description" content="This site is about the courses ItBursa. Created Ruslan Tokar in the study Python Bursa">
    <title>PyBursa_main</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="http://itbursa.com/">itbursa </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="index.html">Главная </a></li>
                    <li role="presentation"><a href="contact.html">Контакты </a></li>
                </ul>
            </div>
        </div>
    </nav>
	</br>
    <div class="jumbotron">
        <h1 class="text-center">Py&amp;Django Bursa</h1>
        <h2 class="text-center">Description </h2>
        <p class="text-center">Python — высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода. Синтаксис ядра Python минималистичен. В то же время стандартная библиотека включает большой объём
            полезных функций. </p>
        <h2 class="text-center">Program </h2>
        <p class="text-center">Принципиальное наше отличие от других курсов – максимум практики и жесткая система обязательных домашних заданий. Преподаватели – опытные практикующие разработчики, они помогают участникам в ходе курсов создать реальные проекты и получить практические
            навыки, применимые к работе. Домашние задания на наших курсах обязательны и их невыполнение приводит к исключению с курсов. Таким образом, мы готовим не просто «слушателей» курсов, а настоящих специалистов, способных создавать пусть простые,
            но рабочие проекты. </p>
        <p class="text-center"><a class="btn btn-link btn-lg" role="button" href="http://pybursa.com/">Выучись или умри!</a></p>
    </div>
	<footer class="site-footer">
        <footer></footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6"><h5>PyBursa © 2016 Ruslan Tokar</h5></div>
            </div>
        </div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>