<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
    <meta name="description" content="This site is about the courses ItBursa. Created Ruslan Tokar in the study Python Bursa">
    <title>PyBursa_stud_det</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="http://itbursa.com/">itbursa </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Main</a></li>
                    <li><a href="contact.html">Contacts</a></li>
                    <li class="active"><a href="student_list.html">Students</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ol class="breadcrumb">
        <li><a><span>/ Main</span></a></li>
        <li><a><span>Students </span></a></li>
        <li><a><span>Student details</span></a></li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2>Tokar Ruslan</h2><img class="img-responsive" src="../static/images/avatar.jpg"></div>
        </div>
        <hr>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="headtable">
                                <tr>
                                    <th colspan="2">Student Card</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="active">Surname </td>
                                    <td>Tokar </td>
                                </tr>
                                <tr>
                                    <td class="active">Name </td>
                                    <td>Ruslan </td>
                                </tr>
                                <tr>
                                    <td class="active">Patronymic </td>
                                    <td>Anatolievich </td>
                                </tr>
                                <tr>
                                    <td class="active">Rating </td>
                                    <td>10 </td>
                                </tr>
                                <tr>
                                    <td class="active">Average Grade</td>
                                    <td>99.9 </td>
                                </tr>
                                <tr>
                                    <td class="active">Package </td>
                                    <td>Standart </td>
                                </tr>
                                <tr>
                                    <td class="active">Birth Date </td>
                                    <td>07/03/1987 </td>
                                </tr>
                                <tr>
                                    <td class="active">Address </td>
                                    <td>Kharkiv, st. Dvinskiy, 11</td>
                                </tr>
                                <tr>
                                    <td class="active">E-mail </td>
                                    <td>djrexxx87@gmail.com </td>
                                </tr>
                                <tr>
                                    <td class="active">Skype </td>
                                    <td>rexxx_dj </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="headtable">
                                <tr>
                                    <th>Course </th>
                                    <th>Week </th>
                                    <th>Control Type</th>
                                    <th>Grade </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="7">PY101 Введение в Python</td>
                                    <td rowspan="3">Week 1</td>
                                    <td>Tests </td>
                                    <td>99% </td>
                                </tr>
                                <tr>
                                    <td>Problem Task №1</td>
                                    <td>100% </td>
                                </tr>
                                <tr>
                                    <td>Problem Task №2 </td>
                                    <td>100% </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Week 2</td>
                                    <td>Tests </td>
                                    <td>100% </td>
                                </tr>
                                <tr>
                                    <td>Problem Task №1 </td>
                                    <td>100% </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Week 3</td>
                                    <td>Tests </td>
                                    <td>100% </td>
                                </tr>
                                <tr>
                                    <td>Problem Task №1 </td>
                                    <td>100% </td>
                                </tr>
                                <tr>
                                    <td rowspan="3">DJ101 Web разработка на Python/Django</td>
                                    <td rowspan="3">Week 1</td>
                                    <td>Tests </td>
                                    <td>100% </td>
                                </tr>
                                <tr>
                                    <td>Problem Task №1 </td>
                                    <td>100% </td>
                                </tr>
                                <tr>
                                    <td>Problem Task №2</td>
                                    <td>InProc</td>
                                </tr>
                            </tbody>
                            <caption>Performance </caption>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer">
        <div class="myfoot">
            <p class="mycopy"> PyBursa © 2016 Ruslan Tokar</p>
        </div>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>