<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
    <meta name="description" content="This site is about the courses ItBursa. Created Ruslan Tokar in the study Python Bursa">
    <title>PyBursa_students</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="http://itbursa.com/">itbursa </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Main</a></li>
                    <li><a href="contact.html">Contacts</a></li>
                    <li><a href="student_list.html">Students</a></li>
                </ul>
            </div>
        </nav>
    <ol class="breadcrumb">
        <li><a href="index.html"><span>/ Main</span></a></li>
        <li><a href="student_list.html"><span>Students </span></a></li>
    </ol>
    <div class="container">
        <h1>Студенты куса PyBursa</h1>
        <p>Студенты. Выпуск май-2016г. </p>
        <div class="table-responsive student-table">
            <table class="table table-hover">
                <thead class="headtable">
                    <tr>
                        <th>No </th>
                        <th>Surname </th>
                        <th>Name </th>
                        <th class="hidden-xs">Address </th>
                        <th>Skype </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="student_details.html">1</a></td>
                        <td>Tokar </td>
                        <td>Ruslan </td>
                        <td class="hidden-xs">Украина, г.Харьков, пер.Двинский, 11</td>
                        <td>rexxx_dj </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ivanov </td>
                        <td>Ivan </td>
                        <td class="hidden-xs">Украина, г.Харьков, пер.Двинский, 12 </td>
                        <td>ivashka </td>
                    </tr>
                    <tr>
                        <td>3 </td>
                        <td>Petrov </td>
                        <td>Peter </td>
                        <td class="hidden-xs">Украина, г.Харьков, пр-т Гагарина, 38 кв.25</td>
                        <td>petruha </td>
                    </tr>
                    <tr>
                        <td>4 </td>
                        <td>Ivanova </td>
                        <td>Galina </td>
                        <td class="hidden-xs">Украина, г.Харьков, пер.Двинский, 11 </td>
                        <td>ivanova_g </td>
                    </tr>
                    <tr>
                        <td>5 </td>
                        <td>Petrova </td>
                        <td>Katerina </td>
                        <td class="hidden-xs">Украина, г.Харьков, пр-т Гагарина, 38 кв.25 </td>
                        <td>None </td>
                    </tr>
                    <tr>
                        <td>6 </td>
                        <td>de Mort</td>
                        <td>Voland </td>
                        <td class="hidden-xs">None </td>
                        <td>potter_md </td>
                    </tr>
                    <tr>
                        <td>7 </td>
                        <td>Potter </td>
                        <td>Harry </td>
                        <td class="hidden-xs">Sliseland </td>
                        <td>potter_h </td>
                    </tr>
                    <tr>
                        <td>8 </td>
                        <td>Kravchenko </td>
                        <td>Ivan </td>
                        <td class="hidden-xs">Kharkiv </td>
                        <td>krava </td>
                    </tr>
                    <tr>
                        <td>9 </td>
                        <td>Poroshenko </td>
                        <td>Petro </td>
                        <td class="hidden-xs">Kyiv </td>
                        <td>poroh </td>
                    </tr>
                    <tr>
                        <td>10 </td>
                        <td>Yatsenuk </td>
                        <td>Senya </td>
                        <td class="hidden-xs">Kyiv, Khreshatik</td>
                        <td>rabbit </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="site-footer">
        <div class="myfoot">
            <p class="mycopy"> PyBursa © 2016 Ruslan Tokar</p>
        </div>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>