{% extends "base.html" %}
{% block title %}ItBursa_{{ course.name }}{% endblock%}
{% block nav_class_index %}activated{% endblock %}
{% block transparent %}mbr-navbar--transparent{% endblock %} 
{% block content %}
<section class="mbr-box mbr-section mbr-parallax-background coursebgn " 
         id="header2-7">    
    <div class="mbr-section__container mbr-section__container--std-padding container mysection ">
        {% if messages %}
            </br>
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}  
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text header_white">{{ course.name }}</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="lead text-center">
                                    {% if course.description %}
                                        {{ course.description}}
                                    {% else %}
                                        <p>Для курса пока не создано описания</p>   
                                    {% endif %}
                                </p>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Преподаватели Курса</h2>
                            </div>
                        </div>               
                    </div>
                </div>
                <div class="container">  
                    {% if course.coach %}
                        {% include "include/coach_include.html" %}
                    {% else %}
                        <p>Преподаватель курса пока не определен</p>
                    {% endif %}
                    {% if course.assistant %}
                        {% include "include/assistant_include.html" %}
                    {% else %}
                        <p>Ассистент курса пока не определен</p>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h2>Course Plan</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a class="add btn btn-info btn-md " href="{% url 'courses:add-lesson' course.id %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                        Add new lesson
                    </a>
                </div> 
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table  table-hover ">
                                <thead>
                                    <tr>
                                        <th># </th>
                                        <th>Тема </th>
                                        <th class="hidden-xs">Описание </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in lessons %}
                                    <tr>
                                        <td>{{ x.order }}</td>
                                        <td><strong>{{ x.subject|upper }}</strong></td>
                                        <td class="hidden-xs">{{ x.description }}</td>
                                    </tr>   
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}