{% extends "base.html" %}
% load staticfiles %}
{% block title %}ItBursa_coach{% endblock title %}
{% block nav_class_index %}active{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <h2>{{ coach.user.first_name }} {{ coach.user.last_name }}</h2></div>
</div>
<hr>
<div class="col-md-8">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="headtable">
                        <tr>
                            <th colspan="2">Coach Card</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="active">Дата рождения</td>
                            <td>{{ coach.date_of_birth|date:"j F, Y" }}</td>
                        </tr>
                        <tr>
                            <td class="active">Адрес</td>
                            <td>{{ coach.address }}</td>
                        </tr>
                        <tr>
                            <td class="active">E-mail </td>
                            <td>{{ coach.user.email }}</td>
                        </tr>
                        <tr>
                            <td class="active">Skype </td>
                            <td>{{ coach.skype }}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{ coach.phone }}</td>
                        </tr>
                        <tr>
                            <td>Courses Coach</td>
                            <td> {% for course in teacher %}
                                <p><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><a href="{% url 'students:list_view' %}?course_id={{ course.id }}">студенты курса <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a></p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Courses Assistant</td>
                            <td> {% for course in assistant %}
                                  <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a>студенты курса<a href="{% url 'students:list_view' %}?course_id={{ course.id }}"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><br></a>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}